@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: linear-gradient(to right top, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #1b1b1b, #24252a, #2c2f3a, #313b4a, #32596f, #207990, #009ba7, #07beb2);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

